<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <th:block th:insert="~{fragments/ad_header::link}"></th:block>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:insert="~{fragments/sidebar }"></th:block>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <th:block th:insert="~{fragments/topbar }"></th:block>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Product Manager</h1>
                <p class="mb-4"></p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary mr-3">DataTables</h6>

                    </div>
                    <div class="col-12">
                        <div class="container">
                            <div class="card">
                                <div class="card-header bg-info text-center text-white">
                                    <h3>List Of Product</h3>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <a th:href="@{/admin/products/excelExport}" class="btn btn-success">Export data into Excel
                                            <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
                                    </div><br/>
                                    <table class="table table-hover">
                                        <tr class="bg-dark text-white">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>CategoryId</th>
                                            <th>BrandId</th>
                                            <th>ImageId</th>
                                            <th>Status</th>

                                            <th>Edit/Delete</th>
                                        </tr>
                                        <tr th:each="ob:${productsList}">
                                            <td th:text="${ob.id}"></td>
                                            <td th:text="${ob.name}"></td>
                                            <td th:text="${ob.descriptions}"></td>
                                            <td th:text="${ob.price}"></td>
                                            <td th:text="${ob.quantity}"></td>
                                            <td th:text="${ob.categoryId}"></td>
                                            <td th:text="${ob.brandId}"></td>
                                            <td th:text="${ob.imageId}"></td>
                                            <td th:text="${ob.status}"></td>

                                            <td><a th:href="@{/admin/products/delete(id=${ob.id})}" class= "btn btn-danger">DELETE <i class="fa fa-trash-o" aria-hidden="true"></i></a> |
                                                <a th:href="@{/admin/products/edit_product(id=${ob.id})}" class="btn btn-warning">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </table>
                                    <a th:href="@{/admin/products/add_product}" class= "btn btn-success ">Add Product <i class="fa fa-plus-square" aria-hidden="true"></i></a>

                                </div>
                                <div class="card-footer bg-white text-success" th:if="${message!=null}">
                                    <span th:text="${message}"></span>
                                </div>
                            </div>
                        </div></div>
                    </div>
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <th:block th:insert="~{fragments/modal }"></th:block>
    <th:block th:insert="~{fragments/ad_footer::script}"></th:block>
</div>
</body>
</html>