
<footer class="footer section">
	<div class="footer__container container grid">
		<div class="footer__content">
			<a href="#" class="footer__logo"> <img src="./images/logo-3.png"
				alt="" class="footer__logo-image" /> ShopDD
			</a>
			<p class="footer__description">Dịch vụ, sản phẩm tốt nhất dành
				cho bạn</p>
			<div class="footer__social">
				<a href="https://www.facebook.com/" target="_blank"
					class="footer__social-link"> <i
					class="bx bxl-facebook"></i>
				</a> <a href="https://www.instagram.com/" target="_blank"
					class="footer__social-link"> <i
					class="bx bxl-instagram-alt"></i>
				</a> <a href="https://twitter.com/" target="_blank"
					class="footer__social-link"> <i
					class="bx bxl-twitter"></i>
				</a>
			</div>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">Về Chúng Tôi</h3>
			<ul class="footer__links">
				<li><a href="" class="footer__link">About Us</a></li>
				<li><a href="" class="footer__link">Features</a></li>
				<li><a href="" class="footer__link">News</a></li>
			</ul>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">Dịch Vụ</h3>
			<ul class="footer__links">
				<li><a href="" class="footer__link">Pricing</a></li>
				<li><a href="" class="footer__link">Discounts</a></li>
				<li><a href="" class="footer__link">Shipping mode</a></li>
			</ul>
		</div>
		<div class="footer__content">
			<h3 class="footer__title">Công Ty</h3>
			<ul class="footer__links">
				<li><a href="" class="footer__link">Blog</a></li>
				<li><a href="" class="footer__link">About us</a></li>
				<li><a href="" class="footer__link">Our mision</a></li>
			</ul>
		</div>
	</div>

	<span class="footer__copy">&#169; Long Lương. All rigths
		reserved</span>

	<div class="modal" id="modal__view">
		<div class="modal__main">
			<i class="bx bx-x modal__close" id="modal-close"></i>
			
		</div>
	</div>
</footer>
<a href="#" class="scrollup" id="scroll-up"> <i
	class="bx bx-up-arrow-alt scrollup__icon"></i>
</a>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../scripts/scrollreveal.min.js"></script>
<script src="../../scripts/app.js"></script>
<script>
function dodajAktywne(elem) {
    // get all 'a' elements
    var a = document.getElementsByClassName("nav__link");
    // loop through all 'a' elements
    for (i = 0; i < a.length; i++) {
        // Remove the class 'active' if it exists
        a[i].classList.remove('active-link')
    }
    // add 'active' classs to the element that was clicked
    elem.classList.add('active-link');
}
</script>