 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Funi Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/products/list_all">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Product</span>
                </a>
               
            </li>

			<li class="nav-item">
                <a class="nav-link collapsed" href="/admin/categories">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Categories</span>
                </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/orders">
                    <i class="fas fa-clipboard"></i>
                    <span>Orders</span>
                </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/users">
                    <i class="fas fa-user"></i>
                    <span>Users</span>
                </a>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

           

        </ul>
        <!-- End of Sidebar -->