<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
<div class="col-12">
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-center text-white">
                <h3>List Of Product</h3>
            </div>
            <div class="card-body">

                <table class="table table-hover">
                    <tr class="bg-dark text-white">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>CategoryId</th>
                        <th>BrandId</th>
                        <th>ImageId</th>
                        <th>Status</th>

                        <th>Edit/Delete</th>
                    </tr>
                    <tr th:each="ob:${productsList}">
                        <td th:text="${ob.id}"></td>
                        <td th:text="${ob.name}"></td>
                        <td th:text="${ob.descriptions}"></td>
                        <td th:text="${ob.price}"></td>
                        <td th:text="${ob.quantity}"></td>
                        <td th:text="${ob.categoryId}"></td>
                        <td th:text="${ob.brandId}"></td>
                        <td th:text="${ob.imageId}"></td>
                        <td th:text="${ob.status}"></td>

                        <td><a th:href="@{/products/delete(id=${ob.id})}" class= "btn btn-danger">DELETE <i class="fa fa-trash-o" aria-hidden="true"></i></a> |
                            <a th:href="@{/products/edit_product(id=${ob.id})}" class="btn btn-warning">EDIT <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
                <a th:href="@{/products/add_product}" class= "btn btn-success ">Add Product <i class="fa fa-plus-square" aria-hidden="true"></i></a>
                <a th:href="@{/products/}" class= "btn btn-primary">Go to Admin Page</a>
            </div>
            <div class="card-footer bg-white text-success" th:if="${message!=null}">
                <span th:text="${message}"></span>
            </div>
        </div>
    </div></div>

<img src="/static/image/23.jpg" alt="Girl in a jacket">
</body>
</html>